body {
	padding-top: 60px;
}

#index a {
	color: #333;
}
#index a:hover {
	color: #000;
}

#class-file-selector a {
  padding-left: 11px;
  padding-right: 11px;
  margin-right: 0;
}

#class-list {
  padding: 8px 0;
}

.description {
	padding-top: 0.2em;
}

.footer {
  margin-top: 45px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}

.jsdoc-large-icon {
	vertical-align: middle;
	margin-right: 0.5em;
}

.icon-jsdoc.icon-jsdoc-namespace {
	background-position: 0 0;
}

.icon-jsdoc.icon-jsdoc-class {
	background-position: 0 -22px;
}

.icon-jsdoc.icon-jsdoc-interface {
	background-position: 0 -44px;
}

.icon-jsdoc.icon-jsdoc-constant {
	background-position: 0 -66px;
}

.icon-jsdoc.icon-jsdoc-event {
	background-position: 0 -110px;
}

#index .icon-jsdoc {
	margin-right: 4px;
}

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

.jsdoc-inherits-caption {
	font-size: 80%;
	color: #333;
}

.jsdoc-inherits-from a {
	color: #555;
}

.jsdoc-private {
	color: #bbb;
}

.jsdoc-members {
	margin-bottom: 30px;
}

.jsdoc-member {
	padding: 10px;
	border-style: solid;
	border-color: #ddd;
	border-width: 0 0 1px 0;
}

.jsdoc-member:first-child {
	border-width: 1px 0;
}

.jsdoc-hierarchy-nav {
	margin-top: 10px;
}

.jsdoc-hierarchy-caption {
	padding-right: 10px;
	font-size: 11px;
	font-weight: bold;
	color: #999;
	text-shadow: 0 1px 0 hsla(0, 100%, 100%, 0.5);
	text-transform: uppercase;
}

/* Labels */
.label-jsdoc {
	vertical-align: middle;
}

.label-jsdoc.label-jsdoc-private {
	background-color: #f89406;
}

.label-jsdoc.label-jsdoc-protected {
	background-color: #c3325f;
}

.label-jsdoc.label-jsdoc-static {
	background-color: #555;
}

.label-jsdoc.label-jsdoc-inner {
	background-color: #ffc40d;
}

.label-jsdoc.label-jsdoc-deprecated {
	background-color: #b94a48;
}

.label-jsdoc.label-jsdoc-singleton {
	background-color: #c3325f;
}

.label-jsdoc.label-jsdoc-interface {
	background-color: #ee5f5b;
}

.label-jsdoc.label-jsdoc-see {
	background-color: #5bc0de;
}

.label-jsdoc.label-jsdoc-requires {
	background-color: #3a87ad;
}

.label-jsdoc.label-jsdoc-since {
	background-color: #62c462;
}

.label-jsdoc.label-jsdoc-exceptions {
	background-color: #fbb450;
}

.jsdoc-member-default{
	color: #666666;
	font-weight:normal;
}

.jsdoc-member-detail {
	margin-top: 10px;
	display: none;
}

.jsdoc-member-detail dl {
	margin-top: 0;
	margin-left: 5px;
}

.jsdoc-member-detail dt {
	line-height: 26px;
}

.jsdoc-typedesc {
	color: gray;
	font-weight: normal;
}

.jsdoc-member-summary {
	margin-top: 5px;
}

.jsdoc-member-summary pre {
	margin-top: 10px;
}

.jsdoc-member-info {
	padding-top: 5px;
}

.jsdoc-symbol-enum {
	padding-right: 5px;
}

.accordion-button:hover {
	background-color: #fcfcfc;
	cursor: pointer;
}

.container-jsdoc-protected {
	background-color: hsl(319, 73%, 99%);
}

.accordion-button.container-jsdoc-protected:hover {
	background-color: hsl(319, 73%, 98%);
}

.container-jsdoc-private {
	background-color: hsl(56, 77%, 99%);
}

.accordion-button.container-jsdoc-private:hover {
	background-color: hsl(56, 77%, 98%);
}

.container-jsdoc-deprecated {
	background-color: hsl(0, 76%, 99%);
}

.accordion-button.container-jsdoc-deprecated:hover {
	background-color: hsl(0, 76%, 98%);
}

.jsdoc-visibility-options {
	padding: 5px 7px;
	color: black;
}
